# Copia este archivo como .env y ajusta los valores para tu entorno

# API URL del Backend (C#)
VITE_API_GESTION_ORDENES=https://localhost:7008/api/v1

# URL base de la aplicación Frontend
VITE_APP_URL=http://localhost:5173
